.header {
  background: var(--gray-900);
  color: var(--gray-50);
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  &_wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: auto;

    .logo {
      display: flex;
      align-items: center;
      height: 50px;
    }

    @media screen and (min-width: 1024px) {
      max-width: 1350px;
      padding: 0 2rem;
    }
  }
}

main {
  min-height: 100vh;
}
