.header {
  background: rgb(var(--dark-gray));
  color: rgb(var(--white));
  border-bottom: 1px solid rgba(var(--light-gray), 0.2);

  &_wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: auto;
    padding: 1rem 2rem;

    .logo {
      height: 50px;

      &:hover {
        filter: var(--neon-glow);
      }
    }

    @media screen and (min-width: 1024px) {
      max-width: 1350px;
    }
  }
}

main {
  min-height: 100vh;
}
